# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_1 = 2
print(num_1)

2

##### Assinging float

In [3]:
num_2 = 3.7
print(num_1)

3.7

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(num_1 + num_2)

7.4

##### Subtraction

In [42]:
num_4 = 4
num_5 = 2

num_6 = num_4 - num_5
print(num_6)

2

##### Multiplication

In [10]:
print(num_1 * num_2)

13.690000000000001

##### Division

In [11]:
print(num_2 /num_1)

1.0

##### Floor Division

In [13]:
print(num_2 // num_1)

1.0

##### Modulo

In [14]:
print(num_2 % num_1)

0.0

##### Exponential

In [43]:
print(num_4 ** num_5)

16

### String Input-Output

##### String Assignment

In [46]:
phrase = "This a string"
print(phrase)
phrase_2 = 'This is also a string'
print(phrase_2)

This a string
This is also a string

##### print() <br>
<p>Don't forget about end=' '</p>

In [22]:
print(phrase, end=' and it is a useful tool.')

This a string and it is a useful tool.

##### String Concatenation

In [45]:
phrase_3 = ' and it is a useful tool.'

print(phrase + phrase_2)

This a string and it is a useful tool.

##### Type Conversion

In [48]:
num_1 = 30
print(num_1, type(num_1))

num_1 = str(num_1)
print(num_1, type(num_1))

num_1 = float(num_1)
print(num_1, type(num_1))

30 <class 'int'>
30 <class 'str'>
30.0 <class 'float'>

##### input()

In [28]:
age = int(input('what is your age?'))
print(str(age) + ' is a wonderful age!')

what is your age? 12

12 is a wonderful age!

##### format()

In [52]:
age = int(input('What is your age?'))
form_phrase = 'You are {} and getting wiser'.format(age)
print(form_phrase)

form_phrase2 = f'{age} is a wonderful age!'
print (form_phrase2)

What is your age? 12

You are 12 and getting wiser
12 is a wonderful age!

##### Old Way (python 2)

In [57]:
result_string = 'How long have you been %s for?' %age
print(result_string)

How long have you been 12 for?

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [35]:
car_color = str(input('what is the color of your car?'))
car_year = str(input('what is the year your car was made?'))
car_make = str(input('what company is your car made by?'))
car_model = str(input('what is the model of your car?'))

car = 'You own a {year} {color} {make} {model}.'
print(car.format(year=car_year, color=car_color, make=car_make, model=car_model))

what is the color of your car? black
what is the year your car was made? 2021
what company is your car made by? audi
what is the model of your car? a5

You own a 2021 black audi a5.

### If Statements

In [10]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 1

if num1 < num2 | num3 > 0:
    print("This ran!")
else:
    print("You are here.")

This ran!

##### 'is' keyword

In [63]:
count = 55
if count is 55:
    print(True)

True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
/var/folders/sp/18x2cf4d3w304sq_nwtcpth80000gn/T/ipykernel_54899/2988430538.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if count is 55:

##### 'in' keyword

In [67]:
char_name = "Ironman"
if 'Iron' in char_name:
    print(True)
else:
    print(False)

True

##### 'not in' keyword'

In [68]:
char_name = "Ironman"
if 'iron' not in char_name:
    print(True)
else:
    print(False)

True

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [62]:
name = str(input('What is your name?'))

if 'p' in name:
    print (True)
else:
    print (False)

What is your name? Pete

False

## Using 'and'/'or' with If Statements

In [53]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and True')

if num_13 == num_14 or num_11 > num_12:
    print('False and True')

True and True
False and True

### Elif Statements

In [52]:
first_name = input('What is your name? ')

if first_name == 'Smith':
    print('The name is Smith')
elif first_name == 'Brandon':
    print('The name is Brandon')
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

What is your name?  Smith

The name is Smith

### Else Statements

In [ ]:
# see above

### For Loops

In [47]:
cities = ['maimi', 'los angeles', 'san diego', 'houston', 'tampa bay']
for city in cities:
    print(city)

for i in range(1,10):
    print(i)

maimi
los angeles
san diego
houston
tampa bay
1
2
3
4
5
6
7
8
9

##### Using 'in' keyword

In [49]:
# see above

if 'houston' in cities:
    print(True)

if 'minneapolis' in cities:
    print(True)
else:
    print(False)

True
False

##### Continue Statement

In [ ]:
# will continue to next iteration

In [56]:
new_name = "Johnny Cash"

for i in new_name:
    if i == "a":
        continue
    print(i)

J
o
h
n
n
y

C
s
h

##### Break Statement

In [ ]:
# will break out of current loop

In [57]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [58]:
for i in new_name:
    pass

##### Double For Loops

In [60]:
for i in range(5):
    for j in range(5):
        print('i = ',i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [61]:
i = 0 
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

##### Looping 'While True'

In [ ]:
game_over = True

while game_over:
    print('infinite loop')
    user_input = str(input('would you like to stop'))
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

In [64]:
nums = 0
while nums < 5:
    print("/nWhile loop iteration: " + str(nums))

    for i in range(2):
        print("for loop iteration: ", str(i + i))

    nums += 1

/nWhile loop iteration: 0
for loop iteration:  0
for loop iteration:  2
/nWhile loop iteration: 1
for loop iteration:  0
for loop iteration:  2
/nWhile loop iteration: 2
for loop iteration:  0
for loop iteration:  2
/nWhile loop iteration: 3
for loop iteration:  0
for loop iteration:  2
/nWhile loop iteration: 4
for loop iteration:  0
for loop iteration:  2

### Built-In Functions

##### range()

In [ ]:
range_list = range(1,20)
print(range_list)

for i in range_list:
    print(i)

##### len()

In [12]:
saying = 'Fool me once'
print(len(saying))

12

##### help()

In [29]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [31]:
place = 'miami'
if isinstance(place, str):
    print(True)

True

##### abs()

In [5]:
amount = -11
print(abs(amount))

11

### Try and Except

In [6]:
try:
    price = int(input('How much does this cost?'))
    print("This item costs ${}! I can't believe it!".format(price))
except:
    print('Please enter a dollar amount...')

How much does this cost? 3

This item costs $3! I can't believe it!

### Lists

##### Declaring Lists

In [13]:
list1 = []
names = ['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia'] 

print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia']

##### Indexing a List

In [14]:
print(names[2])

Linda

##### .append()

In [17]:
names.append('Teresa')
print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia', 'Teresa', 'Teresa']

##### .insert()

In [19]:
names.insert(-2, 'monica')

print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia', 'monica', 'Teresa', 'Teresa']

##### .pop()

In [20]:
names.pop()

print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia', 'monica', 'Teresa']


##### .remove()

In [21]:
names.remove('monica')

print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia', 'Teresa']

##### del()

In [22]:
del names[-1]

print(names)

['Brenda', 'LaTisha', 'Linda', 'Felicia', 'Dawn', 'LeShaun', 'Ines', 'Alicia']

##### Concatenating Two Lists

In [ ]:
names_2 = ['Teresa', 'Monica', 'Sharron', 'Nicki', 'Lisa', 'Veronica', 'Karen', 'Vicky']
all_names = names + names_2

print(all_names)

##### Lists Within Lists

In [14]:
colors = ['red', 'blue', 'green', 'yellow']
blue_colors = ['azul', 'cerulean','aquamarine']

colors.insert(2,blue_colors)

print(colors)

['red', 'blue', ['azul', 'cerulean', 'aquamarine'], 'green', 'yellow']

##### Looping Through Lists

In [15]:
for i in colors:
    print(i)

red
blue
['azul', 'cerulean', 'aquamarine']
green
yellow

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [3]:
i = 0
while True:
    if i ** 2 < 1000:
        print(i)
        i+= 1
    else:
        break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

primes = range(2,101)

isprime = True

for p in primes:
    i = 2
    
    while p >= i:
        #print('p is ' + str(p) + ' current i is ' + str(i))
        #print('p % i = ' + str(p%i))
        #print(p, i, p%i)
        if p % i == 0:
            isprime = False
            
        
        
        i += 1
        if isprime:
            print(p)
            break
  
print(25%5)

0

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [79]:
while True:
    try:
        age = int(input('How old are you?'))
        if age < 18:
            print('kids')
            break
        if age > 18 and age < 65:
            print('adults')
            break
        if age > 65:
            print('seniors')
            break
    except:
        print('Please enter a number...')

How old are you? 12

kids